__pycache__/ram.cpython-311.pyc
__pycache__/ui.cpython-311.pyc
test.spec
diy.spec
__pycache__/check.cpython-311.pyc
__pycache__/check_module.cpython-311.pyc
build/system_check/Analysis-00.toc
build/system_check/base_library.zip
build/system_check/EXE-00.toc
build/system_check/PKG-00.toc
build/system_check/PYZ-00.pyz
build/system_check/PYZ-00.toc
build/system_check/system_check.exe.manifest
build/system_check/system_check.pkg
build/system_check/warn-system_check.txt
build/system_check/xref-system_check.html
build/system_check/localpycs/pyimod01_archive.pyc
build/system_check/localpycs/pyimod02_importers.pyc
build/system_check/localpycs/pyimod03_ctypes.pyc
build/system_check/localpycs/pyimod04_pywin32.pyc
build/system_check/localpycs/struct.pyc
dist/system_check.exe
system_check.spec
__pycache__/api.cpython-311.pyc
__pycache__/disk.cpython-311.pyc
__pycache__/gpu.cpython-311.pyc
__pycache__/system_check.cpython-311.pyc
